.bruxing-summary {
  display: flex;
  flex-direction: column;
  @include whitebox();
  padding: 50px;
  border: none;
  height: 100%;
  .bruxing-image {
    width: 60px;
    margin-bottom: 10px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .bruxing-title {
    font-family: $font-family-heading;
    font-size: 1.8rem;
    font-weight: 400;
  }
  .bruxing-description {
    font-size: 1.3rem;
  }
  .bruxing-link {
    flex: 0;
    margin-top: auto;
  }
  a.bruxing-read-more {
    font-weight: 400;
    font-family: $font-family-heading;
  }
}
