---
layout: default
title: iBrux
subtitle: Measure, diagnose, treat.
body_classes: page-bruxing-list
---

<div class="intro intro-big">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ page.title }}</h1>
        <p>{{ page.subtitle }}</p>
      </div>
    </div>
  </div>
</div>

<div class="container pb-6">
  <div class="row">
    {% for bruxing in site.bruxing %}
    <div class="col-12 col-md-6 mb-3">
      <div class="bruxing bruxing-summary">
        {% if bruxing.icon %}
        <div class="bruxing-image">
          <img src="{{bruxing.icon | relative_url}}" />
        </div>
        {% endif %}
        <div class="bruxing-title">
          <h2><a href="{{ bruxing.url | relative_url}}">{{ bruxing.title }}</a></h2>
        </div>
        <div class="bruxing-description">
          <p>{{ bruxing.description }}</p>
        </div>
        <div class="bruxing-content">{{ bruxing.content | truncate: 180 }}</div>
        <div class="bruxing-link">
          <a class="bruxing-read-more" href="{{ bruxing.url | relative_url}}">Read More<i class="fas fa-long-arrow-alt-right ml-1"></i></a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% if site.data.features.size > 0 and site.params.bruxing.show_features %}
<div class="strip strip-grey">
  <div class="container pt-5 pb-5">
    <div class="row justify-content-center">
      {% for feature in site.data.features %}
      <div class="col-12 col-sm-4 col-md-4 mb-2">
        <div class="feature">
          {% if feature.image %}
          <div class="feature-image">
            <img alt="{{ feature.title }} logo" src="{{ feature.image | relative_url}}" />
          </div>
          {% endif %}
          <h2 class="feature-title">{{ feature.title }}</h2>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

<!-- Splash One -->
{% if site.params.bruxing.show_splash_one_section %}
<div class="strip strip-bg-primary strip-bg-cover" style="background-image: url('{{ site.params.bruxing.splash_one_background_image | relative_url }}');">
  <svg aria-hidden="true" role="presentation" viewBox="0 0 100 5">
    <polygon class="svg-grey" points="0,0 100,0 100,5" />
  </svg>
  <div class="container pt-10 pb-10">
    <div class="row">
      <div class="col-12 col-md-6">
        {% if site.params.bruxing.splash_one_heading %}<h2 class="text-white text-capitalize">{{
          site.params.bruxing.splash_one_heading }}</h2>{% endif %}
        {% if site.params.bruxing.splash_one_paragraph %}<p class="text-white large">{{
          site.params.bruxing.splash_one_paragraph }}</p>{% endif %}
      </div>
    </div>
  </div>
  <svg aria-hidden="true" role="presentation" viewBox="0 0 100 10">
    <polygon class="svg-secondary" points="0,0 0,20 100,100 100,0 60,10" />
  </svg>
</div>
{% endif %}

{% include contact-cta.html
heading=site.params.contact_cta.heading
subheading=site.params.contact_cta.subheading
button_url=site.params.contact_cta.button_url
button_text=site.params.contact_cta.button_text
%}
